root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[*.{c,cc,cpp,cxx,h,hh,hxx}]
charset = utf-8-bom
trim_trailing_whitespace = true

[*.{cs}]
charset = utf-8
trim_trailing_whitespace = true
